body{
    background-image: url();
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo_pic{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}
#pic{
    color: rgb(83, 83, 193);
}
.logo_side{
    display: flex;
    align-items: center;
}
.sign_in{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 90px;
}
.sign_in_option{
    color: rgb(70, 70, 255);
}
.section1{
    margin: 0px auto;
    background-color: rgb(229, 229, 230);
    border: 2px solid transparent;
    border-radius: 20px;
    height: 500px;
    width: 1000px;
    padding: 0px 50px 20px 40px;
    margin-top: 20px;
}
h4{
    text-align: center;
    font-size: 30px;
}
.hero{
    display: flex;
    gap: 20px;
}
.picture1{
    height: 350px;
    width: 570px;
    border-radius: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    border: 2px solid transparent;
    box-shadow: 3px 5px 0px 1px rgb(190, 190, 190);
    border-radius: 50px;
    width: 260px;
    padding: 10px 20px;
    text-align: center;
}
.button{
    text-align: center;
}
button{
    border: 2px solid transparent;
    border-radius: 50px;
    padding: 20px;
    width: 190px;
    color: white;
    background-color: rgb(44, 152, 246);
}
.confirmation{
    width: max-content;
}

.Already_user{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 0 0 40px;
}

.forget_password{
    color: black;
    text-decoration: none;
}
.forget_password:hover{
    color: rgb(49, 49, 223);
}
input:hover,input:focus{
    outline: 2px solid transparent;
    cursor: pointer;
    transform: translate(3px,-4px);
}
button:hover{
    cursor: pointer;
    transform: translate(3px,-4px);
}
.sign_in_option:hover{
    cursor: pointer;
    font-size:medium;
    transform: translate(2px,-2px);
}